# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Node.js dependencies
node_modules/
package-lock.json

# Python virtual environment
venv/
__pycache__/
*.pyc

# Log files
*.log

# Environment variables
.env
.env.local
.env.*.local
.vercel
